<!DOCTYPE html>
<html>
<head>
  <title>OAuth2 Example</title>
  <!-- Needed for mobile sites to work -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Style sheets -->
  <link rel="stylesheet" type="text/css" href="../stylesheets/pure-min.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/base.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/index-modules.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/sign-in-modules.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/dialog-modules.css">
  <script type="text/javascript" src="../javascripts/jquery.min.js"></script>
</head>
<body>
