<!DOCTYPE html>
<html>
<head>
  <title>OAuth2 Example</title>
  <!-- Needed for mobile sites to work -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Style sheets -->
  <link rel="stylesheet" type="text/css" href="../stylesheets/pure-min.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/base.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/index-modules.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/sign-in-modules.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/dialog-modules.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/smportal.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/core.css">

  <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap/bootstrap.css">

  <script type="text/javascript" src="../javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="../javascripts/custom.js"></script>
</head>
<body>
<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse ng-scope"><div class="container ng-scope" data-ng-controller="HeaderController">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <!--SMPortal-->
        <div class="logo">
        </div>
      </a>
    </div>

  </div>
</header>
